<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haha.mapper.DepartmentMapper">

    <select id="SelectAll" resultType="com.haha.pojo.Department">
      SELECT
	DepartmentID,
	DepartmentName,
	StartTimeAM,
	EndTimeAM,
	StartTimePM,
	EndTimePM,
	ParentID
FROM
	department


    </select>
</mapper>