<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haha.mapper.EmployeeMapper">
    <insert id="insertEmployee">
          INSERT INTO employees
			VALUES
		(null,#{EmployeeName},#{EmployeeGender},#{PositionID},#{DepartmentID},#{CardNumber},#{EmployeeState},"")
	</insert>
	<update id="updateEmployee">
		UPDATE employees
		SET
		EmployeeName = #{EmployeeName},
		EmployeeGender = #{EmployeeGender},
		PositionID = #{PositionID},
		DepartmentID = #{DepartmentID},
		CardNumber = #{CardNumber},
		EmployeeState = #{EmployeeState},
		EmployeeMemo = #{EmployeeMemo}
		<where>
			EmployeeID = #{EmployeeID}
		</where>
	</update>

	<select id="selectAll" resultType="com.haha.pojo.Employee">
      SELECT
	EmployeeID,
	employeeName,
	employeeGender,
	cardNumber,
	employeeState,
	employeeMemo,
	DepartmentName,
	PositionName
FROM
	employees ep
	LEFT JOIN department dp ON ep.DepartmentID = dp.DepartmentID
	LEFT JOIN att_position ap ON ep.PositionID = ap.PositionID
	<if test="count!=0">
	  <if test="page!=0">
          LIMIT #{page},#{count}
      </if>
	</if>
		<where>
			<if test="DepartmentName!=''">
			<if test="DepartmentName!=null">
				DepartmentName = #{DepartmentName}
			</if>

			</if>
			<if test="employeeName!=''">
				<if test="employeeName!=null">
				and EmployeeName = #{employeeName}
				</if>

			</if>
		</where>
    </select>


</mapper>